@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    font-family: 'Overpass';
}

img {
    width: 150px;
}

.img-container2 {
    padding: 15px;
    display: flex;
    justify-content: center;
}

#container2 {
    max-width: 350px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 25px;
    padding: 35px;
}

.result {
    display: flex;
    justify-content: center;
} 

.result > p {
    color: hsl(25, 97%, 53%);
    background-color: hsla(216, 12%, 54%, 0.212);
    border-radius: 17px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 14px;
}

.texto-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.texto-container2 > h1 {
    color: white;
    font-weight: 400;
    font-size: 25px;
}

.texto-container2 > p {
    text-align: center;
    color: hsl(216, 12%, 54%);
    font-size: 15.5px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 2px;
}

